@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}

<!--title of my name-->
<h1>Cameron Pike</h1>

<!--image of me taking photos-->
<img src="img/IMG_2309.JPG" />

<!--what I hope to get out of this class-->
<h3>What I hope to get out of this IS 413 class</h3>
<p>
    I hope to create web apps using the .NET MVC Framework. I hope to work as a team to build and integrate a web app.
    I hope to write React pages using the fundamentals of C#. Use libraries such as Bootstrap, JQuery, Angular etc.
    in the web apps.
</p>

<!--list of my top 3 jobs-->
<h3>Top 3 jobs are am most interest in pursuing when I graduate</h3>
<ul>
    <li>Full-Stack Developer</li>
    <li>Application Developer</li>
    <li>System Structure Engineer</li>
</ul>
